<div>
    <div class="row">
        <div class="col-md-6">
            <div class="p-4">
                <h1 class="text-dark">Strategy Consulting</h1>

                <div class="p-2">
                </div>
                <p>GI Resources strategic Services team is comprised of experienced management consultants who speak
                    the language of Business and IT, providing advisory services across multiple industry areas to
                    help you create and drive your future Business and IT strategies and agendas.</p>

                <h2 class="text-secondary">Application Development</h2>
                <div class="p-2">
                </div>
                <p>Determine the best methodology for your IT applications development, in terms of technology,
                    legacy system phase-out, cost-effective efficiency, and more.</p>
                <h2 class="text-secondary">Business Process Transformation</h2>
                <div class="p-2">
                </div>
                <p>Analyze, redesign, and outsource business processes for strategic needs such as time to market,
                    right-sourcing, and straight-through processing.</p>

            </div>
        </div>
        <div class="col-md-6 p-4">
            <img src="/assets/Strategy-k.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-6 p-4">
            <div class="p-2">
                <h2 class="text-secondary">Co-Managed Staffing</h2>
                <div class="p-2">
                </div>
                <p>Our proprietary methodology to meet your cost-cutting objectives while preserving ongoing
                    business initiatives.</p>
                <h2 class="text-secondary">Organization Change Management</h2>
                <div class="p-2">
                </div>
                <p>Address transitional, communications, organization, governance, and behavioral aspects of change
                    management.</p>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <h2 class="text-secondary">Global Sourcing Transformation</h2>
            <div class="p-2">
            </div>
            <p>Leverage global and multi-sourcing strategies to reduce costs, maximize IT process efficiencies,
                and centralize operations and vendor consolidation objectives.</p>
            <h2 class="text-secondary">Mergers and Acquisition Integration</h2>
            <div class="p-2">
            </div>
            <p>Ensure seamless integration of your organization through due diligence, communication planning,
                target state definition, implementation planning, and change management.</p>
        </div>
    </div>
</div>

<div>
    <div class="row p-4">


        <div class="col-md-6">
            <div class="p-2">
                <h1 class="text-dark">Vertical Expertise - Retail Expertise</h1>
                <div class="p-2"></div>
                <h2 class="text-secondary">Organization Change Management</h2>
                <div class="p-2"></div>
                <p>Address transitional, communications, organization, governance, and behavioral aspects of change
                    management.</p>
                <h2 class="text-secondary">Global Sourcing Transformation</h2>
                <div class="p-2"></div>
                <p>Leverage global and multi-sourcing strategies to reduce costs, maximize IT process efficiencies,
                    and centralize operations and vendor consolidation objectives.</p>
                <h2 class="text-secondary">Mergers and Acquisition Integration</h2>
                <div class="p-2"></div>
                <p>Ensure seamless integration of your organization through due diligence, communication planning,
                    target state definition, implementation planning, and change management.</p>
                <div class="p-2"></div>
                <p>At GI, our business is retail. Leveraging decades of experience in this dynamic industry, we
                    build and implement the IT solutions that fit our clients' unique needs and solve their business
                    challenges.</p>

            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/retail-exp.jpg" alt="Company Growth" style="width: 100%; height: 90%;">
        </div>
        <h2 class="text-secondary">How We Deliver</h2>
            <div class="p-2"></div>
            <p>With our executive leadership possessing hundreds of years of domain-specific experience and
                teams comprising 400+ resources with retail-exclusive backgrounds, we deliver immense value
                through finely tuned solutions fitting the individual retail organizations we serve.</p>

            <p>Delivering the best-in-class solutions are the veterans, experts, and pioneers with hands-on
                technology experience across a diverse set of retailers. Through our comprehensive understanding
                of the unique obstacles these dynamic organizations face, we execute against your company's
                requirements and avoid a one-size-fits-all approach.</p>
            <p>In addition to customizations and our vast retail expertise, we succeed by forging partnerships.
                Through collaboration and active dialogues, we create environments that foster new ideas and
                implement world-class strategies to achieve the reduced costs, improved bottom lines, and
                enhanced cash flow our clients seek.</p>
    </div>
    
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="p-4">
                <h1 class="text-dark">Technology Expertise</h1>
                <div class="p-2">
                </div>
                <p>GI delivers unique value to retailers by leveraging technology that allows high-demand
                    organizations
                    to
                    create the ideal business scenarios in which they operate.</p>
                <h2 class="text-secondary">Our History</h2>
                <div class="p-2">
                </div>
                <p>Founded as an outsourcing company, we evolved to a retail solutions provider but today, hold
                    steadfast to
                    our history of delivering top-notch IT to companies around the globe.</p>

                <p>As a CMMI Level 5, ISO 27001:2005, and ISO 9001:2008-certified organization, we continue to
                    deliver
                    retail solutions via multiple technologies, combined with our world-class approach.</p>
                <h2 class="text-secondary">Our Solutions</h2>
                <div class="p-2">
                </div>
                <p>In addition to integrating solutions through processes that minimize system disruption, GI
                    provides
                    tremendous value through services that:</p>

                <ul>
                    <li>Allow Retailers to Re-focus on Core Competencies</li>
                    <li>Extend the Life of IT Investments</li>
                    <li>Are Built on Legacy and Open Technologies</li>
                    <li>Are Extensible and Developed to Evolve with Your Organization</li>
                    <li>Fit the Unique Needs of Your Business</li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 p-4">
            <img src="/assets/tech-exo.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-6">
            <div class="p-4">

                <h1 class="text-dark">Financial & Accounting Expertise</h1>

                <div class="p-2"></div>
                <p>GI's experience tailoring financial solutions for retailers runs deep. Our leadership team has
                    been providing value-added services to retail financial organizations for over 30 years. With a
                    keen understanding of their unique back office environments, we have tailored a set of services
                    that conform to clients' needs.</p>

                <p>Our clients have not only experienced significantly reduced costs, but they also benefit from the
                    ability to re-focus their energies on core business. With our 'by-retailers, for-retailers'
                    approach, GI delivers dramatic improvements through a set of services specifically targeted to
                    retailers, by means of solutions such as:</p>

                <h2 class="text-secondary">360° p2p™</h2>
                <div class="p-2"></div>
                <p>GI's innovative retail back office service both drives down and systematically drives out vendor
                    overpayments, by integrating a unique blend of both retail business and information technology
                    expertise, and by leveraging smart tools and savvy people.</p>

                <h2 class="text-secondary">AR Reconciliation</h2>
                <div class="p-2"></div>
                <p>Check Reconciliation can be a manually intensive process. Retailers uncover hidden value when our
                    teams ensure timely and accurate control of your company's Receivables status.</p>
                <h2 class="text-secondary">AP Services</h2>
                <div class="p-2"></div>
                <p>Our Accounts Payable solutions increase process efficiency and accuracy, directly reducing costs
                    for your organization. We benchmark your existing environment, make actionable recommendations,
                    and implement solutions that cleanly overlay re-engineered workflow and resource allocation into
                    your business operations, supported by appropriate technologies.</p>

                <h2 class="text-secondary">Vendor Portal</h2>
                <div class="p-2"></div>
                <p>Our vendor self-service portal empowers your vendors to proactively optimize their relationship
                    with you. A Vendor Portal enables vendors to view and then directly update critical information
                    on your behalf, to reflect inevitable purchasing and invoicing changes. From Vendor ReGItration
                    to Accounts Payable Inquiry and direct visibility of the supply chain, our modular portal
                    solution is easily adapted to your organization's current environment and evolving requirements.
                </p>



            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4">
                <img src="/assets/accounting.jpg" alt="Company Growth" style="width: 90%; height: 60%;">
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="p-4">
                <h2 class="text-secondary">Vendor Master File Optimization</h2>
                <div class="p-2"></div>
                <p>A Vendor Master File is a control point in any organization. An accurate, up-to-date, consistent
                    Master File minimizes fraud, avoids duplicate payments, and makes it possible to fully
                    understand where the business is spending its money.</p>

                <p>For a full range of financial services, refer to our website.</p>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <h2 class="text-secondary">Recovery Consultation</h2>
            <div class="p-2"></div>
            <p>We provide business impact assessments of retailers' current Internal/External Recovery
                Processes, make process and/or tool recommendations, and fit our approach to best meet our
                clients' specific needs.</p>

        </div>
    </div>
</div>