<div class="p-4">
    <div class="row bg-light">
        <div class="col-md-6">
            <h1 class="text-dark">IT Solutions</h1>
            <div class="p-2">
            </div>
            <h2 class="text-dark">Application Development</h2>
            <div class="p-2">
            </div>
            <p>GI offers customized Application Development and Maintenance to its clients worldwide.</p>
            <p>GI addresses the challenges clients face through customized solutions. With extensive experience in
                helping
                clients with their custom development needs, we facilitate growth by reducing system costs.</p>
            <p>Examples of our experience in applications include:</p>
            <ul>
                <li>Brackets MDM</li>
                <li>Configuration Management</li>
                <li>Data Management</li>
                <li>Analytics</li>
                <li>Human Resource Management</li>
                <li>Integrating Disparate Technologies</li>
                <li>Scheduling Software</li>
                <li>Service Oriented Architecture</li>
                <li>System Integration</li>
                <li>Workflow Management</li>
            </ul>
        </div>
        <div class="col-md-6 p-4 bg-light">
            <img src="/assets/software.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
    </div>

    <p> We help clients leverage their current technology infrastructure by adapting it with applications
        that
        enable
        them to meet evolving business needs.</p>
    <p>Our teams work with a range of technologies spanning .NET to Java to COBOL to Open Source. By
        utilizing
        these
        programming languages, we enable our clients to leverage web-based applications and extensions to
        meet
        their
        unique needs.</p>
</div>
<div>
    <div>
        <div class="row bg-light p-2">
            <div class="col-md-6 p-4">
                <div class="p-2">
                </div>
                <h3>Application Maintenance</h3>
                <div class="p-2">
                </div>
                <p>In addition to developing customized tools, GI has an extensive Application Maintenance practice.
                </p>
                <h3>Offering Overview</h3>
                <div class="p-2">
                </div>
                <p>We support and enhance enterprise legacy systems, as well as package systems for Finance, Credit,
                    Merchandising, Supply Chain, and other functions. Our value proposition lies in flexible and
                    efficient
                    resource
                    management, improved productivity, and lower support costs for our clients.</p>
                <h2>QA & Testing</h2>
                <div class="p-2">
                </div>
                <p>GI provides full lifecycle Onshore and Offshore QA and Testing services for a variety of software
                    products, web
                    applications, enterprise applications, and retail systems. Our services cover Domain,
                    Technology,
                    and
                    Operations-centric testing.</p>
                <p>We have a world-class practice that analyzes the facets and functionality of your work, ensuring
                    the
                    highest
                    quality through best-in-class standards.</p>
                <p>We verify processes through manual and automatic testing, leveraging top industry tools to give
                    clients
                    the
                    confidence of optimized operations.</p>
                <p>Quality outsourcing is a priority for us, whether we're investigating our own work or the work of
                    another
                    firm.
                </p>
                <p>For GI, QA and Testing isn't just a way to ensure a high-quality application, but also an
                    opportunity
                    to
                    simplify your work and demonstrate our capabilities.</p>
            </div>
            <div class="col-md-6 p-4 bg-light">
                <img src="/assets/monitor.jpg" class="" alt="Application Maintenance"
                    style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>