<div>
  <div class="row bg-light">
    <div class="col-md-6 p-4">
      <div class="p-4">
        <div class="card-body">
          <h1 class="card-title">Application Integration</h1>
          <div class="p-2"></div>
          <div>
            <p>Our Application integration consulting practice helps businesses around the world rapidly and
              cost-efficiently integrate new technologies and business processes. With a track record for success far
              surpassing the industry average, we are committed to customer success. GI Integration Services provides
              expert design, systems architecture, implementation, and project management services for all your business
              integration projects.</p>
          </div>
          <div class="p-2"></div>
          <h3>We help you:</h3>
          <div>
            <ul class="list-unstyled">
              <li>Focus on your core competencies</li>
              <li>Maintain continuity of existing legacy applications</li>
              <li>Rapidly implement new business systems</li>
              <li>Implement solutions integrating legacy and commercial systems</li>
              <li>Rapidly acquire new skill sets and leverage technology</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <img src="/assets/app-dev.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="p-4">
        <div class="card-body">
          <div class="row-2">
            <h1 class="card-title">System Integration</h1>
          <div class="p-2"></div>
            <div>
              <p>GI Integrates Systems to Ease Operations. As executives seek to integrate and rationalize IT
                environments,
                they need trusted partners to deliver results.</p>
            </div>
            <h2>About Our Integration</h2>
            <div>
              <p>GI knows system integration. We integrate numerous systems across multiple technologies and utilize an
                approach that best leverages our onshore/offshore model.</p>

              <p>Our solutions are robust, flexible, on-time, and cost-effective, so companies can maximize efficiency
                and
                attain the highest quality offshore product.</p>
            </div>
            <h3>Our System Integration Services include:</h3>
          <div class="p-2"></div>
            <div>
              <ul class="list-unstyled">
                <li>Visibility into our Migration/Integration Process through Project Management Tool GIProject®</li>
                <li>Documentation of Existing Systems</li>
                <li>Management of Knowledge Transfer Processes</li>
                <li>Initiation and Management of PMOs for Major Conversions</li>
                <li>Code for Integration</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <img src="/assets/sys-int.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
    </div>
  </div>
</div>