<div>
    <div class="row" style="background-color: whitesmoke;">
        <div class="col-md-6 p-2">
            <h1 class="p-2">Project Management</h1>
            <h2 class="p-2">GIProject+</h2>
            <div class="p-2">
                <p>GI directs Project Workflow through the Project Management Tool, GIProject+</p>

                <p>At GI, our Project Management tool, GIProject&reg; is the window to our processes.</p>

                <p>Developed in-house, our online project management system gives clients real-time, 24 x 7 access
                    to key project data.</p>

                <p>By tracking resources, productivity, and scheduling information, our progress is transparent, and
                    clients know that their solution arrives on time, on budget, and ahead of expectations.</p>

                <p>Our robust and secure tool not only houses data but also allows our teams to reference and
                    leverage past successes and incorporate innovation into the overall IT solution.</p>

                <p>For additional details on our GIProject+ offerings, refer to our website.</p>

                <p><a href="#">Visit our website</a></p>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <img src="/assets/scope.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>