<div>
  <div class="row">
    <div class="col-md-6 p-2 bg-light">
      <div class="p-4">
        <h1 class="p-4">Welcome to GIS: Your Gateway to Exceptional Talent</h1>
        <div class="p-4">
          <p>Unlocking Your Business Potential Through Top Talent Acquisition</p>
          <p>At GIS, we understand that your success hinges on the quality of your workforce. We are
            your trusted
            partner in the quest for exceptional talent, providing comprehensive manpower solutions that drive growth,
            innovation, and success. With our industry expertise and extensive network, we connect you with the best
            professionals who will elevate your organization to new heights.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4 bg-light">
      <img src="/assets/index2.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-dark p-4">Discover Your Competitive Edge</h2>
      <div class="p-4">
        <p class="text-dark">In today's competitive landscape, attracting and retaining top talent is crucial for
          staying ahead. GIS is
          dedicated to helping you gain a competitive edge by sourcing, selecting, and placing highly skilled
          individuals who align with your company's vision and values.</p>
        <a routerLink="/contact" class="btn btn-primary">CONTACT US</a>
      </div>
    </div>
    <div class="col-md-6 p-4 bg-light">
      <img src="assets/telephone.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
    </div>
  </div>
</div>