<div>
    <div class="row">
        <div class="col-md-6 p-4 bg-light">
            <img src="/assets/our-growth.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>  
        <div class="col-md-6 p-4 bg-light">
            <div class="p-4">
                <h1>Company</h1>
                <div class="p-2"></div>
                <div>
                    <p>
                        GI Resources Inc (Part of the GI Group) is a strategic provider of
                        consulting services across industry verticals. Our subject matter
                        expertise ensures that best practices are implemented across all
                        horizontal solutions.
                    </p>
                    <p>
                        We pride ourselves in focusing on innovation in processes, service
                        delivery, quality, and reliability.
                    </p>
                    <div class="p-2"></div>
                    <h2>Vision</h2>
                    <div class="p-2"></div>
                    <p>
                        To be a world-class organization that delivers best-of-breed technology
                        solutions with a focus on quality, delivered by our people.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6 p-4 bg-light">
            <img src="/assets/growth.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
        <div class="col-md-6 p-4 bg-light">
            <div class="p-4">
                <h1>Mission</h1>
                <div class="p-2"></div>
                <div>
                    <ul>
                        <li>To deliver reliable products and value-based services</li>
                        <li>
                            To exceed benchmarks of Information Technology support services in a
                            steadily evolving era of knowledge
                        </li>
                        <li>To sustain competitive advantage through people competence</li>
                        <li>
                            Making Quality an integral part of the workplace and achieving it in
                            every aspect
                        </li>
                        <li>
                            Be committed to excellence and make performance measured by the smile
                            on the face of its satisfied customers
                        </li>
                    </ul>
                    <div class="p-2"></div>
                    <h2>Corporate Governance</h2>
                    <div class="p-2"></div>
                    <p>
                        GI Group continues to focus on good Corporate Governance, in line with
                        local and global standards. Our primary objective is to create and
                        adhere to a corporate culture of conscience and consciousness,
                        integrity, transparency, and accountability for efficient and ethical
                        conduct of business to meet its obligations with its clients and
                        stakeholders.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>