<div>
    <div class="row p-4" style="background-color: whitesmoke;">
        <div class="col-md-6">
            <h1>Staff Augmentation</h1>
            <div class="p-2">
            </div>
            <p>GI Resources Staff Augmentation can help you save time and money by scaling your IT staff to meet
                changing market demands. Our low-risk staffing solutions provide an efficient way to tackle IT
                initiatives and move complex projects. Our Two Guaranteed Delivery Program removes the risk
                associated with hiring new talent and gives you the confidence you need to move quickly and achieve
                measurable results.</p>
            <h2>GI Staff Augmentation can help you:</h2>
            <div class="p-2">
            </div>
            <ul>
                <li>Find hand-picked, qualified contract employees with the appropriate skills and experience to
                    help you grow with market demands</li>
                <li>Trim staff painlessly and economically when demand slows</li>
                <li>Locate highly qualified candidates for permanent hire</li>
            </ul>

            <p>Our IT professionals are screened to meet your specific needs - across every skill set and in any
                discipline, including:</p>

            <ul>
                <li>Web Development</li>
                <li>Mainframe Programming</li>
                <li>Business Analysis and Project Management</li>
                <li>Software Development and Engineering</li>
                <li>Database Design, Development, and Administration</li>
                <li>Systems Analysis</li>
                <li>System Administration</li>
                <li>Technical Writing</li>
                <li>Legacy Systems</li>
                <li>Network Engineering and Administration</li>
                <li>Help Desk and Technical Support</li>
            </ul>
        </div>
        <div class="col-md-6 p-4">
            <img src="/assets/staff.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>

<div>
    <div class="row" style="background-color: whitesmoke;">
        <div>
            <div class="p-2">
                <div class="p-2">
                    <h1 style="text-align: left;">Co-Managed Staffing</h1>
                    <div class="p-2"></div>
                    <p style="text-align: left;">Co-Managed Staffing is a Staffing Services Project delivery model
                        that combines high quality of
                        consulting
                        services with the lower cost of staff augmentation. We provide a dedicated team of resources
                        to
                        deliver a
                        project with our clients providing support. Essentially, a Global Engagement Manager is
                        Onsite
                        to
                        closely
                        monitor project progress, customized reporting and improved knowledge transfer and timely
                        delivery.
                    </p>
                    <h2 style="text-align: left;">Advantages of Co-Managed Staffing include:</h2>
                    <div class="p-2"></div>
                    <ul>
                        <li>Fluctuating and seasonal workloads are met with well-screened and trained GI Resources
                            professionals
                            who
                            match the project requirements.</li>
                        <li>Initiatives are completed by quick learners with a high level of attention to detail and
                            working
                            knowledge
                            of the verticals or any domain.</li>
                        <li>Reliable employees from GI are often awarded leadership roles, managing large programs
                            from
                            start to
                            finish.
                            Client managers can then focus more attention on strategic planning and new initiatives.
                        </li>
                        <li>The stability of employing long-term professionals, along with fresh, new talent, among
                            a
                            large
                            and
                            diverse
                            GI Resource’s talent pool allows the client to be prepared for seasonal fluctuations
                            with
                            proven
                            experience
                            and efficiency.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row" style="background-color: whitesmoke;">
        <div class="col-md-6 p-4">
            <img src="/assets/Staffing.png" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
        </div>
        <div class="col-md-6">
            <div class="p-2">
                <h1>Project Delivery Staffing</h1>
                <div class="p-2"></div>
                    <p>Our expertise spans around Retail and Financial Services Domain. Project Staffing is one our core
                        contract staffing service enhanced with additional features. Project Staffing addresses specific
                        issues most important to our clients. We provide a cost-effective solution, in a fast time
                        frame,
                        accounting for maximum flexibility, while allowing our client to maintain control of the
                        project. GI
                        Resources Inc will be responsible for the total recruitment, screening, interview and placement
                        of
                        all consultants on the project while the client maintains the day-to-day project management
                        responsibilities.</p>


                    <p>GI Resources Inc will provide:</p>
                    <ul>
                        <li>Highly skilled, well trained, most qualified and experienced, field tested personnel</li>
                        <li>Thorough candidate screening and continuous performance monitoring</li>
                        <li>15+ years of experience and global presence</li>
                        <li>Strong methodology and high-quality commitment behind every project we take on</li>
                        <li>Professionalism and customer satisfaction at competitive rates</li>
                        <li>On-Demand Professional Services</li>
                    </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="row" style="background-image: url('/assets/smoke.jpg');">
            <div>
                <div class="p-4">
                    <h1 style="text-align: left;">Offshore Staff Augmentation</h1>
                <div class="p-2">
                </div>
                <p style="text-align: left;">GI Resources offers an exclusive range of services when it comes to
                    providing Offshore IT recruitment
                    with our facility at Mysore, India. We also offer additional support services from our other
                    global
                    facilities at Nepal and Australia. You can choose from having a Dedicated Programmer, Dedicated
                    Web
                    Development team, Web Outsourcing, Project Based Staff and Project Maintenance Staff based on
                    our
                    infrastructure here in India who would work exclusively on your project.</p>

                <p style="text-align: left;">Our Offshore IT Staffing Service provides access to the skills you
                    need
                    to grow your business
                    allowing us to shoulder your technical responsibility at almost half the cost you would end up
                    spending in comparison to the same team hired at your onsite facility. The dedicated team
                    ensures to
                    maintain real-time communication with your working team which further contributes towards the
                    success of the project.</p>

                <p style="text-align: left;">GI has a highly experienced and talented team of people who are
                    prepared
                    to offer practical solutions
                    rather than just being simple task-oriented resources for the clients they work. They have
                    in-depth
                    knowledge of the work domain and contribute towards the successful closure of the task assigned
                    to
                    them. Our dedicated team ensures that the turnaround time of the project is the least possible
                    so
                    that our client gets the desired benefit through faster time to market ratio.</p>

                </div>
            </div>
        </div>
    </div>