<div>
  <div class="row" style="background-image: url('/assets/index2.jpg');">
    <div class="col-md-6">
      <div class="p-2"> </div>
      <h1>Global</h1>
      <div class="p-2"> </div>
      <h2>Canada</h2>
      <div class="p-2"> </div>
      <p>GI's Canadian office is the offshore IT firm's second corporate headquarters in North America. Opened in
        October 2009, GI Canada is a wholly-owned subsidiary of Software Paradigms International and the location
        through which GI delivers retail IT services to Canadian corporations.</p>
        <div class="p-2"> </div>
      <h2>Nepal</h2>
      <div class="p-2"> </div>
        <p>(Add data pertaining to service offering from the facility and the clients served)</p>
        <div class="p-2"> </div>
      <h2>Australia</h2>
      <div class="p-2"> </div>
      <p>(Add data pertaining to service offering from the facility and the clients served)</p>

    </div>
    <div class="col-md-6 p-4">
      <img src="/assets/Global1.jpg" class="img-fluid" alt="Company Growth" style="width: 100%; height: 100%;">
    </div>
  </div>
</div>