.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#f6f5f6, #f4f2f5);
}

.login_box {
    max-width: 1050px;
    height: 600px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.left {
    width: 100%;
    padding: 25px;
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.top_link a {
    font-weight: 400;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

form {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.form-control {
    margin-bottom: 15px;
}

.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);

}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.right {
    width: 100%;

    background: linear-gradient(212.38deg, rgba(160, 149, 154, 0.7) 0%, rgba(102, 91, 103, 0.71) 100%),
        url(/assets/service.png);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right-text {
    text-align: center;
}

.right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.right-text h5 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}