<header>
  <!-- <div class="container-fluid">
    <div class="p-1">
      <div class="row" aria-label="Main Navigation">
        <div class="col-12 col-md-2">
          <a href="index.html"><img style="padding: 10px;" src="assets/Logo.png" class="rounded-circle" alt="Logo"
              width="30%" /></a>
        </div>
        <div class="col-12 col-md-10">
          <nav class="navbar navbar-expand-md navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto text-extra-bold">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Career</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Client</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login-form">Employee Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login-form">Client Login</a>
                </li>
              </ul>
              <div class="d-flex">
                <input type="text" class="form-control me-2" placeholder="Search...">
                <button class="btn btn-outline-light my-2 my-sm-0">Search</button>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Navbar Start -->
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href="/dashboard">
      <img src="assets/Logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-circle d-inline-block align-text-centre text-bold">  GI Solutions </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Employee Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Client Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
        <img src="assets/Logo.png" alt="Avatar Logo" style="width:40px;"
          class="rounded-circle d-inline-block align-text-centre text-bold">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="navbar-toggler Navigation">
        <span class="navbar-toggler-icon Navigation"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end  px-6" id="navbarSupportedContent">
        <ul class="navbar-nav mb-4 mb-lg-0 px-4">
          <li class="nav-item px-2">
            <a class="nav-link" href="/dashboard">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/dashboard">Career</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/dashboard">Client</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/login-form">Employee Login</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/login-form">Client Login</a>
          </li>
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
        <img src="assets/Logo.png" alt="Avatar Logo" style="width:40px;"
          class="rounded-circle d-inline-block align-text-centre text-bold">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-4 mb-lg-0">
          <li class="nav-item px-2">
            <a class="nav-link" href="/dashboard">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/dashboard">Career</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/dashboard">Client</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/login-form">Employee Login</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="/login-form">Client Login</a>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<body class="container-fluid">

  <div class="bg-light">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <hr>
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-8 col-lg-6 col-xl-4 mx-auto mb-4">
            <!-- <img src="assets/Logo1.png" class="img-fluid" width="70%" alt="Logo"> -->
            <a href="index.html"><img style="padding: 10px;" src="assets/Logo1.png" class="img-fluid" alt="Logo"
                width="70%" /></a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Company
            </h6>
            <p>
              <a class="nav-link" href="/company">Our Group</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Services
            </h6>
            <p>
              <a class="nav-link" href="/staff-augmentation">Staff Augmentation</a>
            </p>
            <p>
              <a class="nav-link" href="/app-dev">Application Development</a>
            </p>
            <p>
              <a class="nav-link" href="/project-management">Project Management</a>
            </p>
            <p>
              <a class="nav-link" href="/strategy">Strategy Consulting</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>
            <p>
              <a class="nav-link" href="/it-solutions">IT Solutions</a>
            </p>
            <p>
              <a class="nav-link" href="/global">Global</a>
            </p>
            <p>
              <a class="nav-link" href="/news">News</a>
            </p>
            <p>
              <a class="nav-link" href="/contact">Contact Us</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Right -->
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->

</body>