<div class="p-4">
  <h1 style="text-align: center;">CEO Talk</h1>
  <p style="text-align: center;">Content need to added here</p>
  <div>
    <div class="col-md-2"></div>
    <img class="rounded mx-auto d-block" src="assets/coming-soon.png" width="60%" height="100%">
  </div>
</div>
<div class="row p-4">
  <h1 class="text-secondary">News</h1>
  <a href="#">Link</a>
  <div>
    <div class="col-md-2"></div>
    <img class="rounded mx-auto d-block" src="assets/coming-soon.png" width="60%" height="100%">
  </div>
  <h2 class="text-secondary">Case Study</h2>
  <a href="#">Link</a>
  <div>
    <div class="col-md-2"></div>
    <img class="rounded mx-auto d-block" src="assets/coming-soon.png" width="60%" height="100%">
  </div>
  <h2 class="text-secondary">Blog</h2>
  <a href="#">Link</a>
  <div>
    <div class="col-md-2"></div>
    <img class="rounded mx-auto d-block" src="assets/coming-soon.png" width="60%" height="100%">
  </div>
</div>